@import "./styles/circles.css";
@import "./styles/loading.css";
body {
  margin: 0;
  padding: 0;
  height: 100vh; /* Make the body take the full viewport height */
}
#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
